name: sailor
description: Easily manage page navigation in Flutter apps. Add page transition animations, log navigation events.
version: 0.0.4
author: Gurleen Sethi <contactgurleensethi@gmail.com>
homepage: https://www.github.com/gurleensethi/sailor

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter: